@model List<Kalalidham.Areas.Admin.Model.ImageMasterDomain>

@{
    ViewBag.Title = "ViewImages";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href=@Url.Action("Index","MultipleImageTitle")>Home</a></li>
                    <li class="breadcrumb-item active">View Images</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-header pull-right">
                    <a class="btn btn-primary float-right" href=@Url.Action("Add","MultipleImageTitle")><i class="fas fa-plus"></i> Add Image</a>
                </div>
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-4 col-md-4 col-lg-4"  style="text-align:center;">
                                    <img src="~/Uploads/@item.ImageName" height="350px;" width="350px;" /><br />
                                    <a onclick="fnDelete(@item.Id)" href="#" class="btn btn-info" id="btnDelete">Delete</a>
                                </div>
                            }
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {


    });
    function fnDelete(imid) {
                  $.ajax({
                type: "POST",
                      url: "@Url.Action("Delete", "MultipleImageTitle")",
                      data: JSON.stringify({ id: imid }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result) {
                        window.location.reload();
                    }
                    else {
                        $("#failure").show();
                        $("#failure").fadeTo(2000, 500).slideUp(500, function () {
                            $("#failure").slideUp(500);
                        });
                    }
                }
            });

        }
</script>