@model List<Kalalidham.Data.tblImageMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Image Details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href=@Url.Action("Index","Admin/AdminDashbord")>Home</a></li>
                    <li class="breadcrumb-item active">Image Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-header pull-right">
                    <a class="btn btn-primary float-right" href=@Url.Action("Add","ImageTitleMaster")><i class="fas fa-plus"></i> Add ImageTitle</a>
                </div>
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Image Title</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            @item.ImageTitle
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "ImageTitleMaster", new { id = item.Id })" class="btn btn-block btn-warning">Edit</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", "ImageTitleMaster", new { id = item.Id })" class="btn btn-block btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

