@model List<Kalalidham.Models.GalleryTitleMaster>
@{ ViewBag.Title = "Index"; }

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Gallery</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href=@Url.Action("Index","Home")>Home</a></li>
                    <li class="breadcrumb-item active">Gallery</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Our Gallery</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        @foreach (var item in Model)
                        {
            <button data-filter=".@item.Title">@item.Title</button>}
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            @foreach (var item in Model)
            {
                foreach (var item1 in item.MultiImageList)
                {
<div class="col-lg-3 col-md-6 special-grid @item.Title">
    <div class="products-single fix">
        <div class="box-img-hover">
            <img src="Uploads/@item1.Image" class="img-fluid" alt="Image">
        </div>

        <div class="blog-content">
            <div class="title-blog text-align:center;">
                <a href="Uploads/@item1.Image" download>
                    <i class="fa fa-download fa-2x" aria-hidden="true"></i>
                    <span style="font-weight:bolder">
                        Download
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>          }
}
        </div>
    </div>
</div>

