@model List<Kalalidham.Data.tblMultiImage>

@{
    ViewBag.Title = "Index";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Daily Darshan</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href=@Url.Action("Index","Home")>Home</a></li>
                    <li class="breadcrumb-item active">Daily Darshan</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Daily Darshan</h1>
                </div>
            </div>
        </div>


        <div class="row special-list">
            @foreach (var item in Model)
            {
                <div class="products-single fix">
                    <div class="box-img-hover">
                        @if (@item.Image == null)
                        {
                            <img src="~/Uploads/287-2876128_600-pixels-by-400-pixels-hd-png-download.png" class="img-fluid" alt="Image" height="400px;" width="400px">

                        }
                        else
                        {
                            <img src="Uploads/@item.Image" class="img-fluid" alt="Image" height="400px;" width="400px">
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

