@{
    ViewBag.Title = "Contact";
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Contact Us</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active"> Contact Us </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="contact-box-main">
    <div class="container">
        <div style="width:100%;height:340px;">
            <iframe 
                    style="width:100%;height:300px" 
                    frameborder="0" 
                    src="https://maps.google.com/maps?q=22.2585312938538, 73.16457935563511&z=18&output=embed">
            </iframe>
        </div>

        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>GET IN TOUCH</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio justo, ultrices ac nisl sed, lobortis porta elit. Fusce in metus ac ex venenatis ultricies at cursus mauris.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="Your ConatctNumber" id="contno" class="form-control" name="name" required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="name" placeholder="Subject" required data-error="Please enter your Subject">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="submit-button text-center">
                                <button class="btn hvr-hover" id="btnSend" type="submit">Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4" style=" margin-top:105px;">
                <ul class="list-unstyled mb-0">
                    <li>
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p style="font-weight:bolder">
                            કોઠારી શ્રી,<br />
                            શ્રી સ્વામિનારાયણ મંદિર,<br />
                            મું.પો: કલાલી
                            તા:વડોદરા, <br />
                            જી:વડોદરા <br />
                            ગુજરાત-૩૯૦૦૧૨
                        </p>
                    </li>

                    <li>
                        <i class="fas fa-phone mt-4 fa-2x"></i>
                        <p style="font-weight:bolder">
                            (૦૨૬૫) ૨૬૮૦૭૩૩ / ૨૯૭૦૭૩૩
                        </p>
                    </li>

                    <li>
                        <i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p style="font-weight:bolder">
                            kalalidham@gmail.com
                        </p>
                    </li>
                </ul>
            </div>
            
        </div>


    </div>
</div>
<!-- End Cart -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $("#btnSend").click(function () {
        var res = validation();
        if (res == true) {
            var mdata = {};
            mdata.Name = $("#name").val();
            mdata.Subject = $("#subject").val();
            mdata.Email = $("#email").val();
            mdata.Number = $("#contno").val();
            mdata.Message = $("#message").val();

            $.ajax({
                type: "POST",
                url: "/Home/SendEmail",
                data: JSON.stringify(mdata),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#img').hide();
                    if (result == "Ok") {
                        window.location.href='@Url.Action("Index", "Thankyou")'
                    }
                    else {
                        alert(result);
                    }
                }
            });
        }
        else {
            alert("Enter Valid data..!!");
        }
    });
    function validation() {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

        var phone = /[0-9 -()+]+$/;

        var result = false;
        if ($.trim($("#name").val()) != '') {
            result = true;
        }

        if ($.trim($("#subject").val()) != '') {
            result = true;
        }
        if ($.trim($("#message").val()) != '') {
            result = true;
        }

        if ($.trim($("#EmailId").val()) != '') {
            var email = $.trim($("#EmailId").val());
            if (emailReg.test(email)) {
                result = true;
            }
            else {
                alert('Please enter a valid email address.');
            }
        }

        return result;

    }
</script>