@{ ViewBag.Title = "Home Page"; }

<!-- End Main Top -->
<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/images/Image1.jpeg" alt="">
        </li>
        <li class="text-center">
            <img src="~/Content/images/IMG-20220408-WA0001.jpg" alt="">
        </li>
        <li class="text-center">
            <img src="~/Content/images/IMG-20220408-WA0002.jpg" alt="">
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<embed src="/html/Kalimba.mp3" loop="true" autostart="true" width="2" height="0">

<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="offer-box-products">
                    <img class="img-fluid" src="~/Content/images/2.jpeg" alt="" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="offer-box-products" style="font-size:medium">
                    <b>
                        II શ્રી બાલમુકુંદ લાલજી મહારાજ સત્ય છે II
                    </b>
                    <b>
                        સર્વાવતારી ભગવાનશ્રી સ્વામિનારાયણે આ પૃથ્વી ઉપર આવી અનેક જીવોના કલ્યાણ કર્યા અને એકાંતિકી ભક્તિ અવિરત પાંગરતિ રહે(ટકી રહે) તેવા શુદ્ધભાવથી દેવ, મંદિર, શાસ્ત્ર, આચાર્ય, સંત, હરિભક્તમાં રહી તેઓ દ્વારા અક્ષરધામનો રાજમાર્ગ મોકળો કર્યો.<br />
                        તેમાય સવિશેષ પોતાની હયાતીમાં જબરેશ્વર મહારાજ ખંભાત, નારાયણ ભગવાન બુરહાનપુર, નર ભગવાન ધરગામ, નારાયણમુનિદેવ સુરત વિગેરે પ્રગટસ્વરૂપો સત્સંગી ભક્તોને આપી પોતનું પ્રગટપણું બતાવ્યું છે.<br /> પરંતુ શ્રી કલાલીધામમાં શ્રી લાલજી મહારાજનું સ્વરૂપ આપી મહારાજે અદૂભુત પ્રોઢ પ્રતાપ મૂકી ભક્તોનાં આલોક પરલોકનાં સંક્લ્પ પેઢીઓ સુધી પૂર્ણ થાય તેવી કૃપા કરી છે.
                        <br /><br />
                        કલાલીધામમાં બિરાજતું શ્રી લાલજી મહારાજનું સ્વરૂપ અતિ રૂપાળુ છે અને અતિ કૃપાળું છે. શ્રીજી મહારાજે સ્વયં આજ્ઞા કરી જેમના દ્વારા સંપ્રદાયનાં પાયાનાં કાર્યો કરાયા છે.<br />
                        એવા અક્ષ્રર મૂર્તિ સ.ગ.શ્રી ગોપાળાનંદ સ્વામીનાં હસ્તે કલાલીનું સ્વરૂપ કલાલીમાં સ્થાપીત કરાવી ભક્તોનાં મનોરથ પૂર્ણ કરવાનું વચન આપ્યું છે.<br />
                        ધન, ધાન્ય, યશ, કિર્તિ, ભુક્તિ, મૂક્તિના દાતા તરીકે પ્રસિદ્વિ પામેલા શ્રી લાલજી મહારાજ વિશેષ રૂપે સંસારી જેનાં વિના સંસારને અધુરો સમજે છે તેવા નિઃસંતાન દંપતિ માટે વરદાનરૂપ છે અને આજેય સુદ નોમે કલાલીધામે આવી શ્રી લાલજી મહારાજના દર્શન, પૂજન, વંદન, કરનાર હજારો ભક્તોનાં મનોરથ પૂર્ણ કરે છે.
                    </b>
                    <br />
                    <div style="text-align:center;">
                        <img class="img-fluid" src="~/Content/images/swaminarayan.png" alt="" style="height:200px;width:200px;" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Darshan video</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.VideoData)
            {
<div class="col-md-6 col-lg-4 col-xl-4">
    <div class="blog-box">
        <div class="blog-img">
            <iframe width="350" height="350" src="@item.VideoLink.Replace("watch?v=", "embed/")" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="blog-content">
            <div class="title-blog" style="text-align:center;">
                <h3>@item.VideoTitle</h3>
            </div>
        </div>
    </div>
</div>      }


        </div>
    </div>
</div>
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Darshan Darshan</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.ImageDatas)
            {
<div class="col-md-3 col-lg-3 col-sm-3">
    <div class="blog-box">
        <div class="blog-img">
            <img src="Uploads/@item.Image" class="img-fluid" alt="Image">
        </div>
    </div>
</div>      }


        </div>
    </div>
</div>
