@{
    ViewBag.Title = "Index";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>આમંત્રણમ્</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href=@Url.Action("Index","Home")>Home</a></li>
                    <li class="breadcrumb-item active">આમંત્રણમ્</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>આમંત્રણમ્</h1>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="border border-light p-3 mb-4">
            <div class="d-flex align-items-center justify-content-center" style="height: 350px">
                <div class="p-2 bd-highlight col-example">
                    <img src="~/Content/images/Image1.jpeg" width="100%" />

                </div>

            </div>

        </div>


        <div class="row">
            <div class="d-flex justify-content-left">
                <div class="blog-box">
                    @*<img src="~/Content/images/Image1.jpeg" width="100%" />*@
                </div>
            </div>
        </div>
    </div>
</div>

